# systemd stuff
**/systemd/user/default.target.wants
**/systemd/user/graphical-session.target.wants
**/systemd/user/multi-user.target.wants
**/systemd/user/sockets.target.wants
**/systemd/user/aw-server.service
**/systemd/user/pulseaudio.service


# csharp scripts
**/rikai

# binaries
**/bin/
**/scripts/

# vja
.vjacli/token.json

# cache
**/vesktop/sessionData/
**/Sublime Text/Installed Packages/
**/Sublime Text/Packages/
**/wineprefixes/
**/sublime-text/Lib/
**/sublime-text/Packages/
**/sublime-text/Installed Packages/
**/share/applications/
**/fish