
// ┳┓•┓   •╹   ┳┓•  •  ┏┓    ┏•
// ┣┫┓┃┏┏┓┓ ┏  ┃┃┓┏┓┓  ┃ ┏┓┏┓╋┓┏┓     K. Rikaisuru. 10.21.2025.
// ┛┗┗┛┗┗┻┗ ┛  ┛┗┗┛ ┗  ┗┛┗┛┛┗┛┗┗┫     colophon: font `tmplr`. https://github.com/loreanvictor/tmplr/blob/main/font.flf
//                              ┛

//=========================||
//   Desktop Environment   ||
//=========================||

include "environment/inputs.kdl"      // mouse, keyboard, touch screen
include "environment/startup.kdl"     // startup applications
include "environment/variables.kdl"   // environment variables
include "environment/outputs.kdl"     // monitor config

//=============||
//   General   ||
//=============||

include "general/gestures.kdl"        // miscellaneous configs
include "general/keybinds.kdl"        // keybinds for niri
include "general/software.kdl"        // keybinds for software
include "general/workspaces.kdl"      // workspace defs and keybinds
include "general/windowing.kdl"       // window routing and rules
include "general/miscellaneous.kdl"   // overview, csd, hotkey, screenshot path

//=================||
//   Decorations   ||
//=================||
include "decorations/animations.kdl"  // animations configs
include "decorations/borders.kdl"     // rounded corners, borders, focus ring
include "decorations/layout.kdl"      // gaps, struts, width, height, presets

//===============||
//   "Plugins"   ||
//===============||
include "plugins/niri-scratchpad.kdl" // scratchpad capability. thanks, https://github.com/gvolpe!
include "plugins/nsticky.kdl"         // sticky capability.     thanks, https://github.com/lonerOrz!
