
// ┏┓  •      •
// ┣┫┏┓┓┏┳┓┏┓╋┓┏┓┏┓┏     Animations
// ┛┗┛┗┗┛┗┗┗┻┗┗┗┛┛┗┛     https://github.com/YaLTeR/niri/wiki/Configuration:-Animations
//
animations {
    // Uncomment to turn off all animations.
    on

    // Slow down all animations by this factor. Values below 1 speed them up instead.
    slowdown 0.5
    window-close {
        // custom-shader r"
        //     vec4 close_color(vec3 coords_geo, vec3 size_geo) {
        //         vec4 color = vec4(0.0);

        //         if (0.0 <= coords_geo.x && coords_geo.x <= 1.0
        //                 && 0.0 <= coords_geo.y && coords_geo.y <= 1.0)
        //         {
        //             vec4 from = vec4(1.0, 0.0, 0.0, 1.0);
        //             vec4 to = vec4(0.0, 1.0, 0.0, 1.0);
        //             color = mix(from, to, coords_geo.y);
        //         }

        //         return color * (1.0 - niri_clamped_progress);
        //     }
        // "
    }
    horizontal-view-movement {
        // spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }
    window-movement {
        // spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }
}
