
// ┏┓
// ┃┃┓┏╋┏┓┓┏╋┏     Outputs
// ┗┛┗┻┗┣┛┗┻┗┛     https://github.com/YaLTeR/niri/wiki/Configuration:-Outputs
//      ┛
output "eDP-1" {
    // mode custom=true "1000x660@60"
    mode custom=true "1920x1080@60"
    scale 1            // thank you for fractional scaling. I was losing my mind in Hyprland.
    transform "normal" // for rotations: normal, 90, 180, 270, flipped, flipped-90, flipped-180 and flipped-270.
    focus-at-startup
    background-color "#222222"
    backdrop-color "#222222"

    // note to future self: custom hot-corners/layouts per monitor.
    // I only have 1 monitor (laptop) so not for now.
}

output "DP-1" {
	mode "1920x1080@60"
	position x=-1920 y=0
}

binds {
    // Focus specific monitors
    Mod+Alt+1 { focus-monitor "eDP-1"; }
    Mod+Alt+2 { focus-monitor "DP-1"; }
    Mod+Alt+3 { focus-monitor "HDMI-A-1"; }

    // Move individual windows to specific monitors
    Mod+Shift+Alt+1 { move-window-to-monitor "eDP-1"; }
    Mod+Shift+Alt+2 { move-window-to-monitor "DP-1"; }
    Mod+Shift+Alt+3 { move-window-to-monitor "HDMI-A-1"; }

    // Focus monitors directionally
    Mod+Alt+Left  { focus-monitor-left; }
    Mod+Alt+Right { focus-monitor-right; }
    Mod+Alt+Up    { focus-monitor-up; }
    Mod+Alt+Down  { focus-monitor-down; }

    // Move windows directionally
    Mod+Shift+Alt+Left  { move-window-to-monitor-left; }
    Mod+Shift+Alt+Right { move-window-to-monitor-right; }
    Mod+Shift+Alt+Up    { move-window-to-monitor-up; }
    Mod+Shift+Alt+Down  { move-window-to-monitor-down; }
}
