
// ┏┓            ┏┓
// ┗┓╋┏┓┏┓╋┓┏┏┓  ┣┫┏┓┏┓┏     Startup Applications, Services
// ┗┛┗┗┻┛ ┗┗┻┣┛  ┛┗┣┛┣┛┛
//           ┛     ┛ ┛

//=================||
//   Environment   ||
//=================||
spawn-at-startup "qs" "-c" "noctalia-shell"            // automatically start the shell
spawn-at-startup "fish" "-c" "kbuildsycoca6"           // to generate dolphin's application preferences
spawn-at-startup "fish" "-c" "fish_add_path" "~/bin/"  // add ~/bin to fish on startup (hack for now)
spawn-at-startup "fish" "-c" "fish_add_path" "~/context/tex/texmf-linux-64/bin"  // add ~/bin to fish on startup (hack for now)


//==============||
//   Services   ||
//==============||
spawn-at-startup "fish" "-c" "hyprlax --config ~/.config/hyprlax/config.toml"
spawn-at-startup "fish" "-c" "awatcher &"  // launches awatcher server
spawn-at-startup "fish" "-c" "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1 &" // launchers authentication agent
spawn-at-startup "fish" "-c" "systemctl --user start vikunja"
spawn-at-startup "fish" "-c" "systemctl --user start opentabletdriver" // tablet
// spawn-sh-at-startup "/usr/lib/polkit-kde-authentication-agent-1 &" // launchers authentication agent
//spawn-sh-at-startup "swww-daemon &"

//==================||
//   Applications   ||
//==================||
spawn-at-startup "fish" "-c" "sleep 5; digitalclock5 &" // launches clock and makes it sticky. requires nsticky.kdl
spawn-at-startup "fish" "-c" "logseq &"
spawn-at-startup "fish" "-c" "sleep 5; rssguard &"
spawn-at-startup "fish" "-c" "sleep 5; artha &"
// spawn-sh-at-startup "$RIKAI/Config/Linux/Vikunja-patched.AppImage";
// spawn-sh-at-startup "vja -u lh -p lh ls" // initializing vja
