
// ┏┓    •                ┓┏    •  ┓ ┓
// ┣ ┏┓┓┏┓┏┓┏┓┏┓┏┳┓┏┓┏┓╋  ┃┃┏┓┏┓┓┏┓┣┓┃┏┓┏     Environment Variables
// ┗┛┛┗┗┛┗┛ ┗┛┛┗┛┗┗┗ ┛┗┗  ┗┛┗┻┛ ┗┗┻┗┛┗┗ ┛
//
environment {
	// desktop stuff
    XDG_CURRENT_DESKTOP "niri"
    XDG_MENU_PREFIX     "plasma-"     // to fix missing default apps in KDE Dolphin
    LANG                "en_US.UTF-8"
    LC_ALL              "en_US.UTF-8"
    GDK_DEBUG           "portals"     // to "suggest" apps to use the KDE file picker

	// styling
    // QT_STYLE_OVERRIDE                "qt6ct-style"
    QT_QPA_PLATFORM                     "wayland"
    QT_QPA_PLATFORMTHEME_QT5            "qt5ct"
    QT_QPA_PLATFORMTHEME                "qt6ct"
    QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
    QT_AUTO_SCREEN_SCALE_FACTOR         "1"

    // preferences
    TERM   "alacritty"
    EDITOR "nvim"

    // foobar2000
    WINEARCH   "wow64"
    WINEPREFIX "/home/rikai/.local/share/wineprefixes/foobar2000"

    // Linux Folders
    HOME   "/home/rikai"
    CONFIG "/home/rikai/.config"
    BIN    "/home/rikai/BIN"

    // NTFS Folders
    RIKAI       "/mnt/LS"
    WINDOWS     "/mnt/Windows"
    PROJECTS    "/mnt/LS/Projects/"
    ART         "/mnt/LS/Projects/Art"
    PROGRAMMING "/mnt/LS/Projects/Programming"
    FILES       "/mnt/LS/Files"

    //dotnet
    DOTNET_CLI_TELEMETRY_OPTOUT "1"

    // bemoji
    BEMOJI_PICKER_CMD "fuzzel -d"
}
