
// ┓ ┏•   ┓     •           ┓  ┳┓     •
// ┃┃┃┓┏┓┏┫┏┓┓┏┏┓┏┓┏┓  ┏┓┏┓┏┫  ┣┫┏┓┓┏╋┓┏┓┏┓     Windowing and Routing
// ┗┻┛┗┛┗┗┻┗┛┗┻┛┗┛┗┗┫  ┗┻┛┗┗┻  ┛┗┗┛┗┻┗┗┛┗┗┫
//                  ┛                     ┛

//==============||
//   All Apps   ||
//==============||
// all apps by default, full size
window-rule {
	open-maximized true
	open-fullscreen false
	open-focused true
}
// half size
window-rule {
	match app-id="org.kde.dolphin"
	match app-id="FileRoller"

	default-column-width { proportion 0.5; }
}
// no focus upon opening
window-rule {
	match app-id="scratchpad"
	match app-id="easyeffects"
	match app-id="wnr"
	match app-id="foobar2000.exe"
	match app-id="com.github.kolcha.DigitalClock5"

	open-focused false
}
// no distractions
window-rule {
	match app-id="wnr"
	match app-id="com.github.kolcha.DigitalClock5"
	match app-id="zoom"

	focus-ring { off; }
    border { off; }
    shadow { off; }

    tab-indicator {
        active-color "red"
        inactive-color "gray"
        urgent-color "blue"
        // active-gradient from="#80c8ff" to="#bbddff" angle=45
        // inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
        // urgent-gradient from="#800" to="#a33" angle=45
    }
}
// open floating
window-rule {
	match app-id="com.github.kolcha.DigitalClock5"
	match app-id="pomodorolm"
	open-floating true
}

//========================||
//   Workspace Specific   ||
//========================||

// `terminals` workspace. window rules don't work if you change the title, so...
window-rule {
	open-on-workspace "dashboard"

	match app-id="vikunja"
	match app-id="pomodorolm"
}

// `terminals` workspace. window rules don't work if you change the title, so...
window-rule {
	open-on-workspace "terminals"

	match title="btop"
	match app-id="protonvpn-app" // the community gtk
}

//  `references` workspace.
window-rule {
	open-on-workspace "references"

	match app-id="firefox"
	match app-id="okular"
	match app-id="sqlitebrowser"
	match app-id="SourceGit"
	match app-id="calibre-gui"
	match app-id="qdirstat"
}

//  `programming` workspace.
window-rule {
	open-on-workspace "programming"

	match app-id="dev.zed.Zed-Preview"
	match app-id="smerge"
	match app-id="subl"
	match app-id="sqlitebrowser"
	match app-id="jetbrains-rider"
	match app-id="jetbrains-idea"
	match app-id="krita"
}

//  `endeavors` workspace.
window-rule {
	open-on-workspace "endeavors"

	match app-id="zoom"
	match app-id="Logseq"
	match app-id="qBittorent"
}

//  `recreation` workspace.
window-rule {
	open-on-workspace "recreation"

	match app-id="easyeffects"
	match app-id="vesktop"
	match app-id="foobar2000.exe"
	match app-id="Caprine"
	match app-id="steam"
}

//==========================||
//   Application Specific   ||
//==========================||

// DigitalClock5
window-rule {
	match app-id="com.github.kolcha.DigitalClock5"

    open-fullscreen false
	open-maximized false
	open-floating true
    default-floating-position x=1209 y=33
}

// Firefox
window-rule {
	// Open the Firefox picture-in-picture player as floating by default.
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    match app-id=r#"firefox$"# title=r#"Torrents[^\n]Firefox"#
    match app-id=r#"firefox$"# title=r#"Mozilla Firefox"#
    open-fullscreen false
	open-maximized false
	open-floating true
}

// qBittorent
window-rule { match app-id="org.qbittorrent.qBittorrent" title="qBittorrent"; open-floating false; }
window-rule { match app-id="org.qbittorrent.qBittorrent"; open-floating true; }

// Alacritty
window-rule {
	match app-id="Alacritty"
	open-maximized false
	default-column-width { proportion 0.3; }
}

// foobar2000
window-rule {
	match app-id="foobar2000.exe"
	geometry-corner-radius 0
	open-fullscreen false
	open-maximized false
    open-maximized-to-edges false
	open-floating false

	focus-ring { off; }
	border { off; }
	shadow { off; }
}
window-rule {
	match app-id="foobar2000.exe" title="Playlist Manager"
	open-floating true
}

// krita
window-rule {
	match title="Create new document"
	match app-id="krita"
	open-maximized true
	open-fullscreen true
	open-floating false
	open-focused true

	focus-ring { off; }
	border { off; }
	shadow { off; }
}

window-rule {
	match title="— Krita"
	// match app-id="krita"
	open-fullscreen false
	open-maximized false
	open-floating true
}

window-rule {
	// match app-id="jetbrains-rider" title=""
	match app-id="jetbrains-rider" title="(unset)"

	open-floating true
	open-fullscreen false
	open-maximized false

	default-window-height { fixed 700; }
    default-column-width { fixed 700; }
}

window-rule {
	match app-id="com.github.kolcha.DigitalClock5"


}

//==========================||
//   Screencast Exception   ||
//==========================||

// Example: block out two password managers from screen capture.
// (This example rule is commented out with a "/-" in front.)
/-window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#

    block-out-from "screen-capture"

    // Use this instead if you want them visible on third-party screenshot tools.
    // block-out-from "screencast"
}


// zoom
window-rule {
	match app-id="zoom" 	title="meeting bottombar popup"
	match app-id="zoom" title="zoom"
	open-floating true
	focus-ring { off; }
	border { off; }
	shadow { off; }
}

// file managers: dolphin, fileroller
window-rule {
	match app-id="org.kde.dolphin"
	match app-id="FileRoller"
	open-maximized false
	open-maximized-to-edges false
	open-fullscreen false
}

// file pickers
window-rule {
	match app-id="org.freedesktop.impl.portal.desktop.kde"
	open-maximized false
	open-maximized-to-edges false
	open-fullscreen false
	open-floating true
}

window-rule {
	match app-id="dndlauncher.exe" title="Dungeons & Dragons Online"
	open-floating false
}
