
// ┳┓•  •  ┏┓       ┓      ┓
// ┃┃┓┏┓┓━━┗┓┏┏┓┏┓╋┏┣┓┏┓┏┓┏┫     Niri-Scratchpad
// ┛┗┗┛ ┗  ┗┛┗┛ ┗┻┗┗┛┗┣┛┗┻┗┻     https://github.com/gvolpe/niri-scratchpad
//                    ┛
workspace "scratch"
spawn-sh-at-startup "alacritty --class \"scratchpad\""

// alacritty
window-rule {
    match app-id="scratchpad"

    open-on-workspace "scratch"
    open-floating true
    open-focused false
    default-window-height { fixed 650; }
    default-column-width { fixed 950; }
}

// rssguard
window-rule {
	match app-id="io.github.martinrotter.rssguard"

	open-on-workspace "scratch"
    open-floating true
    open-focused false
    default-window-height { fixed 900; }
    default-column-width { fixed 1360; }
}

// artha
window-rule {
	match app-id="Artha"

	open-on-workspace "scratch"
    open-floating true
    open-focused false
    default-window-height { fixed 900; }
    default-column-width { fixed 600; }
}


binds {
	Mod+T { spawn-sh "$HOME/bin/ns.py -id scratchpad"; };
	Mod+P { spawn-sh "$HOME/bin/ns.py -id io.github.martinrotter.rssguard"; };
	Mod+BracketLeft { spawn-sh "$HOME/bin/ns.py -id Artha"; };

	Ctrl+Mod+Shift+T { spawn-sh r#"alacritty --class "scratchpad" & sleep 0.01; $HOME/bin/ns.py -id scratchpad "#; } // in case I accidentally kill the floating terminal :)
}
