
//     • ┓
// ┏┓┏╋┓┏┃┏┓┏    nsticky.
// ┛┗┛┗┗┗┛┗┗┫    https://github.com/lonerOrz/nsticky
//          ┛
spawn-at-startup "~/bin/nsticky"

// this will overturn the Mod+Y in niri-scratchpad.
// I duplicated the values so they can still be modular.
// but I seriously wish keybinds are a many to many relationship :(
binds {
	Mod+Shift+Y { spawn-sh "~/bin/nsticky toggle-active;"; }
}
